<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/src/favicon.ico" />
  <link rel="manifest" href="/src/manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
  <script>
    // VConsole will be exported to `window.VConsole` by default.
    if (window.location.href.includes('vconsole=true')) new window.VConsole();
  </script>
  <title>药管管</title>
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/main.jsx"></script>
</body>

</html>